In [2]:
import pandas as pd

In [3]:
demand = pd.read_excel('dataset/a6_booster_delivery_planning.xlsx')
events = pd.read_excel('dataset/ariane_tracks_booster_container_1.0.xlsx')

In [4]:
demand.head(25)

         Date  Config
0  2021-01-12       2
1  2021-08-24       4
2  2021-10-19       2
3  2022-01-28       2
4  2022-06-21       4
5  2022-10-29       4
6  2022-11-20       2
7  2023-02-27       2
8  2023-05-17       4
9  2023-07-05       2
10 2023-08-23       4
11 2023-09-24       2
12 2023-10-28       2
13 2023-12-15       4
14 2024-01-16       2
15 2024-03-23       4
16 2024-03-30       2
17 2024-06-08       4
18 2024-08-19       4
19 2024-09-04       2
20 2024-11-17       4
21 2025-01-06       4
22 2025-02-14       2
23 2025-03-21       4
24 2025-05-12       4

In [6]:
events.head()

  Container Zone       Entry        Exit
0       SN7    A  09.12.2020  24.12.2020
1       SN7    B  24.12.2020  29.12.2020
2       SN7    C  29.12.2020  30.12.2020
3       SN7    D  10.01.2021  12.01.2021
4       SN7    E  12.01.2021  27.01.2021

In [7]:
print(demand.shape)
print(events.shape)

(39, 2)
(368, 4)