In [101]:
import pandas as pd
import numpy as np
import plotly.express as px
from itertools import product

In [102]:
planning = pd.read_excel('../dataset/a6_booster_delivery_planning.xlsx')
tracks = pd.read_excel('../dataset/ariane_tracks_booster_container_2.0.xlsx')

tracks['Entry'] = pd.to_datetime(tracks['Entry'], format='%d.%m.%Y')
tracks['Exit'] = pd.to_datetime(tracks['Exit'], format='%d.%m.%Y')

In [103]:
sorted_tracks = tracks.sort_values(by=['Container','Entry'])

In [104]:
dates = pd.date_range(start=min(sorted_tracks['Entry']), end=max(sorted_tracks['Entry'])).to_list()
containers = list(sorted_tracks['Container'].unique())

In [105]:
df = pd.DataFrame(list(product(dates,containers)), columns=['Date', 'Container'])

In [111]:
df

           Date Container
0    2020-12-09       SN1
1    2020-12-09       SN2
2    2020-12-09       SN3
3    2020-12-09       SN4
4    2020-12-09       SN5
...         ...       ...
9923 2024-05-02       SN4
9924 2024-05-02       SN5
9925 2024-05-02       SN6
9926 2024-05-02       SN7
9927 2024-05-02       SN8

[9928 rows x 2 columns]

In [106]:
crossed_data = (df
                .merge(sorted_tracks[['Container', 'Zone', 'Entry', 'Exit']], how = 'cross')
                .query('Entry <= Date <= Exit')
)

In [107]:
crossed_data = crossed_data[crossed_data['Container_x'] == crossed_data['Container_y']].rename(columns={'Container_x':'Container'}).drop(columns='Container_y').reset_index(drop=True)

In [110]:
crossed_data

           Date Container Zone      Entry       Exit
0    2020-12-09       SN5    A 2020-12-09 2020-12-24
1    2020-12-09       SN6    A 2020-12-09 2020-12-24
2    2020-12-10       SN5    A 2020-12-09 2020-12-24
3    2020-12-10       SN6    A 2020-12-09 2020-12-24
4    2020-12-11       SN5    A 2020-12-09 2020-12-24
...         ...       ...  ...        ...        ...
2377 2024-05-01       SN6    C 2024-05-01 2024-05-02
2378 2024-05-02       SN3    C 2024-05-01 2024-05-02
2379 2024-05-02       SN3    B 2024-05-02 2024-05-07
2380 2024-05-02       SN6    C 2024-05-01 2024-05-02
2381 2024-05-02       SN6    B 2024-05-02 2024-05-07

[2382 rows x 5 columns]

In [112]:
crossed_data.to_csv('../dataset/crossed_data.csv', index=False)