In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
events = pd.read_excel("dataset/ariane_tracks_booster_container_1.0.xlsx")
events.head()

  Container Zone       Entry        Exit
0       SN7    A  09.12.2020  24.12.2020
1       SN7    B  24.12.2020  29.12.2020
2       SN7    C  29.12.2020  30.12.2020
3       SN7    D  10.01.2021  12.01.2021
4       SN7    E  12.01.2021  27.01.2021

In [29]:
demands = pd.read_excel("dataset/a6_booster_delivery_planning.xlsx")
demands.head()

        Date  Config
0 2021-01-12       2
1 2021-08-24       4
2 2021-10-19       2
3 2022-01-28       2
4 2022-06-21       4

In [30]:
events['Entry'] = pd.to_datetime(events['Entry'], format='%d.%m.%Y')
events['Exit'] = pd.to_datetime(events['Exit'], format='%d.%m.%Y')
events.head()

  Container Zone      Entry       Exit
0       SN7    A 2020-12-09 2020-12-24
1       SN7    B 2020-12-24 2020-12-29
2       SN7    C 2020-12-29 2020-12-30
3       SN7    D 2021-01-10 2021-01-12
4       SN7    E 2021-01-12 2021-01-27

In [33]:
print(events.dtypes)
print(demands.dtypes)

Container            object
Zone                 object
Entry        datetime64[ns]
Exit         datetime64[ns]
dtype: object
Date      datetime64[ns]
Config             int64
dtype: object